---
layout: workshop
root: .
eventtitle: "Carpentries Bootcamp: Intro. to Python and Version Control w/ Git" # enter name of the event here
venue: "UC San Diego"      # brief name of host site without address (e.g., "Euphoric State University")
address: "Virtual (via Zoom)"    # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: "us"    # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: "en"   # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "null"     # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: "June 6-9, 2022"  # human-readable date (e.g., "Feb 17-18, 2020")
humantime: "1:00-4:00pm PT"  # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: "2022-06-06"  # use YYYY-MM-DD format like "2015-01-01"
enddate: "2022-06-09"  # use YYYY-MM-DD format like" 2015-01-02"
days: null
instructor: ["Kimberly Thomas", "Saulo Muller Soares", "David Palmquist"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Kimberly Thomas", "David Palmquist", "Cherie Thompson", "Reid Otsuji", "Christina Agu"]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: "kkt008@ucsd.edu or rotsuji@ucsd.edu "    # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad: "https://pad.carpentries.org/UCSD-Carpentry-R_Git-2022-06-06" # optional (insert the URL for your Etherpad if you're using one)
---
<!--
  HEADER (above)

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools used with the Python programming language and version control with Git.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<p>
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

</hr>
<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p id="who">
  <strong>Who:</strong>
  This workshop is open to UCSD students, staff, and faculty.
</p>
<p>
  <strong>You don't need to have any previous knowledge of programming or the tools presented in the workshop to attend.  A laptop is required for each session.</strong>
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p id="where">
  <strong>Where:</strong>
  {{page.address}}.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p id="requirements">
  <strong>Requirements:</strong> Participants must bring a laptop with
  a few specific software packages installed (listed
  <a href="#setup">below</a>).
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p id="contact">
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<p id="certificate">
<strong>Assessment</strong>:
A Co-Curricular of Record activity recognition will be given to the student who:
</p>

<ul>
<li>Attend and participate in all sessions</li>
<li>Pass all workshop quizzes</li>
</ul>
<p>
For more information on the UC San Diego Co-Curricular of Record (CCR), please visit the <a href="https://elt.ucsd.edu/ccr/index.html">UCSD Engaged Learning Tools Co-Curricular Record page</a>.
</p>
<hr/>

<!-- Below is the official Carpentries Code of Conduct information -->

<h2 id="code-of-conduct">Code of Conduct</h2>

<p>
Everyone who participates in Carpentries activities is required to conform to the <a href="https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html">Code of Conduct</a>. This document also outlines how to report an incident if needed.
</p>

<p class="text-center">
  <a href="https://goo.gl/forms/KoUfO53Za3apOuOK2">
    <button type="button" class="btn btn-info">Report a Code of Conduct Incident</button>
  </a>
</p>

<hr/>

<!-- Below is the official Carpentries Survey links -->

<h2 id="surveys">Surveys</h2>
<p>Please be sure to complete these surveys before and after the workshop.</p>
<p><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop Survey</a></p>
<p><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}">Post-workshop Survey</a></p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  
-->
<h2 id="schedule">Schedule</h2>
<div class="row">
  <div>   
    <table class="table">
     <thead><tr> <th><strong>Date</strong></th> <th><strong>Session</strong></th> <th><strong>Topics</strong></th> </tr></thead>
     <tbody>
      <tr><td>June 6</td><td>Introduction to Python - Session 1</td><td> Jupyter Notebook - Running/Wuitting, Variables and Assignment, Data Types/Type Conversions, Built-in Functions, and Help</td></tr>
      <tr><td>June 7</td><td>Introduction to Python - Session 2</td><td> Libraries, Writing Functions, Reading/Writing data in Dataframes, and Pandas Dataframes</td></tr>
      <tr><td>June 8</td><td>Introduction to Python - Session 3</td><td> Plotting, Lists, For Loops, Looping over Datasets, and Conditionals </td></tr>
      <tr><td></td><td>Quiz</td><td> Due next session; posted on Canvas</td></tr>
      <tr><td>June 8</td><td>Version Control with Git</td><td>Introduction to Git, Creating a Repository, Tracking Changes, and Collaborating</td></tr>
     </tbody></table>   
  </div>
</div>
</hr>
<!--
  ETHERPAD

  At `_misc/etherpad.txt` you will find a template for the etherpad.

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://pad.software-carpentry.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop,
  e.g., '2015-06-10-esu'.
-->
<h2 id="curriculum">Curriculum</h2>
<!-- Python specific data information begins -->
<p id = "curriculum">
For this workshop we will be referencing the <a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a> and <a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a> Carpentries curricula. 
</p>

<h2 id="datasect">Data</h2>
<!-- Python specific data information begins -->
<p id = "data">
We will be using the 5 year <a href="http://swcarpentry.github.io/python-novice-gapminder/files/python-novice-gapminder-data.zip">gapminder data</a>. Please download the gapminder data prior to start of first session.
</p>

</hr>

{% if page.etherpad %}
<p id="etherpad">
  <strong>HackMD: </strong>We will use HackMD for taking notes, and sharing URLs and bits of code. The link for the HackMD etherpad will be provide at the start of each workshop session.
</p>
{% endif %}

<hr/>
<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<p>
  To participate in this workshop, you will need
  access to the software described below. In addition, you will
  need an up-to-date web browser.
</p>
<!-- Start of 'Python' section. -->
<div id="python">
  <h3>Python</h3>
  <p>
    We will teach Python using the <a href="https://jupyter.org/">Jupyter Notebook</a>,
    a programming environment that runs in a web browser (Jupyter Notebook will be installed by Anaconda). For this to work you will need a reasonably
    up-to-date browser. The current versions of the Chrome, Safari and
    Firefox browsers are all
    <a href="https://jupyter-notebook.readthedocs.io/en/stable/notebook.html#browser-compatibility">supported</a>
    (some older browsers, including Internet Explorer version 9
    and below, are not).
  </p>
  <div class="tab">
    <button class="tablinks" onclick="openTab(event,'PythonWindows')">Windows</button>
    <button class="tablinks" onclick="openTab(event,'PythonMacOS')">MacOS</button>
    <button class="tablinks" onclick="openTab(event,'PythonLinux')">Linux</button>
  </div>
  <div id="PythonWindows" class="tabcontent">
    <ol>
      <li>Open <a href="https://www.anaconda.com/products/individual#download-section">https://www.anaconda.com/products/individual#download-section</a> with your web browser.</li>
      <li>Download the Anaconda for Windows installer with Python 3. (If you are not sure which version to choose, you probably want the 64-bit Graphical Installer <em>Anaconda3-...-Windows-x86_64.exe</em>)</li>
      <li>Install Python 3 by running the Anaconda Installer, using all of the defaults for installation <em>except</em> make sure to check <strong>Add Anaconda to my PATH environment variable</strong>.</li>
    </ol>
    <p><strong>Video Tutorial:</strong> <a href="https://youtu.be/xxQ0mzZ8UvA">SWC Install Python on Windows</a></p>
  </div>
  <div id="PythonMacOS" class="tabcontent">
    <ol>
      <li>Open <a href="https://www.anaconda.com/products/individual#download-section">https://www.anaconda.com/products/individual#download-section</a> with your web browser.</li>
      <li>Download the Anaconda Installer with Python 3 for macOS (you can either use the Graphical or the Command Line Installer).</li>
      <li>Install Python 3 by running the Anaconda Installer using all of the defaults for installation.</li>
    </ol>
    <p><strong>Video Tutorial:</strong> <a href="https://youtu.be/TcSAln46u9U">SWC Install Python on Mac</a></p>     
  </div>
  <div id="PythonLinux" class="tabcontent">
    <ol>
      <li>Open <a href="https://www.anaconda.com/products/individual#download-section">https://www.anaconda.com/products/individual#download-section</a> with your web browser.</li>
      <li>Download the Anaconda Installer with Python 3 for Linux.<br>
        (The installation requires using the shell. If you aren't
        comfortable doing the installation yourself
        stop here and request help at the workshop.)
      </li>
      <li>
        Open a terminal window and navigate to the directory where
        the executable is downloaded (e.g., `cd ~/Downloads`).
      </li>
      <li>
        Type <pre>bash Anaconda3-</pre> and then press
        <kbd>Tab</kbd> to autocomplete the full file name. The name of
        file you just downloaded should appear.
      </li>
      <li>
        Press <kbd>Enter</kbd>
        (or <kbd>Return</kbd> depending on your keyboard).
        You will follow the text-only prompts.
        To move through the text, press <kbd>Spacebar</kbd>.
        Type <code>yes</code> and press enter to approve the license.
        Press <kbd>Enter</kbd> (or <kbd>Return</kbd>)
        to approve the default location
        for the files.
        Type <code>yes</code> and press
        <kbd>Enter</kbd> (or <kbd>Return</kbd>)
        to prepend Anaconda to your <code>PATH</code>
        (this makes the Anaconda distribution the default Python).
      </li>
      <li>
        Close the terminal window.
      </li>
    </ol>
  </div>
</div>

<!-- End of 'Python' section. -->

<!-- Start of Git section. -->
<div id="git">
  <h3>Git</h3>
  <p>
    Git is a version control system that lets you track who made changes
    to what when and has options for easily updating a shared or public
    version of your code
    on <a href="https://github.com/">github.com</a>. You will need a
    <a href="https://help.github.com/articles/supported-browsers/">supported
    web browser</a>.
  </p>
  <p>
    You will need an account at <a href="https://github.com/">github.com</a>
    for parts of the Git lesson. Basic GitHub accounts are free. We encourage
    you to create a GitHub account if you don't have one already.
    Please consider what personal information you'd like to reveal. For
    example, you may want to review these
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions
      for keeping your email address private</a> provided at GitHub.
  </p>
  <div class="tab">
    <button class="tablinks" onclick="openTab(event,'GitWindows')">Windows</button>
    <button class="tablinks" onclick="openTab(event,'GitMacOS')">MacOS</button>
    <button class="tablinks" onclick="openTab(event,'GitLinux')">Linux</button>
  </div>
    <div id="GitWindows" class="tabcontent">
      <p>
        Git should be installed on your computer as part of your Bash
        install (see the
        <a href="#shell">Shell installation instructions</a>).
      </p>
    </div>
    <div id="GitMacOS" class="tabcontent">
      <p>
        <strong>For macOS</strong>, install Git for Mac
        by downloading and running the most recent "mavericks" installer from
        <a href="http://sourceforge.net/projects/git-osx-installer/files/">this list</a>.
        Because this installer is not signed by the developer, you may have to
        right click (control click) on the .pkg file, click Open, and click
        Open on the pop up window.
        After installing Git, there will not be anything in your <code>/Applications</code> folder,
        as Git is a command line program.
        <strong>For older versions of OS X (10.5-10.8)</strong> use the
        most recent available installer labelled "snow-leopard"
        <a href="http://sourceforge.net/projects/git-osx-installer/files/">available here</a>.
      </p>
      <p><strong>Video Tutorial: </strong><a href="https://youtu.be/9LQhwETCdwY">SWC Install Shell, Git, and Nano on Mac</a></p>
    </div>
    <div id="GitLinux" class="tabcontent">
      <p>
      If Git is not already available on your machine you can try to
      install it via your distro's package manager. For Debian/Ubuntu run
      <code>sudo apt-get install git</code> and for Fedora run
      <code>sudo dnf install git</code>.
      </p>
    </div>
  </div>
</div>

<!-- End of Git section. -->


<!-- hiding SQL Lite insrtuctions
<div id="sql"> Start of 'SQLite' section.
  <h3>SQLite</h3>
  <p>
    SQL is a specialized programming language used with databases.  We
    use a simple database manager called
    <a href="http://www.sqlite.org/">SQLite</a> in our lessons.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="sql-windows">Windows</h4>
      <p>
        The <a href="{{site.swc_installer}}">Software Carpentry Windows Installer</a>
        installs SQLite for Windows.
        If you used the installer to configure nano, you don't need to run it again.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="sql-macosx">Mac OS X</h4>
      <p>
        SQLite comes pre-installed on Mac OS X.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="sql-linux">Linux</h4>
      <p>
        SQLite comes pre-installed on Linux.
      </p>
    </div>
  </div>

</div> End of 'SQLite' section. -->
<!--test note-->
