<div class="banner">
  <a href="http://libraries.ucsd.edu" title="UCSD Library">
    <img style="float: right;" alt="UCSD Library" src="{{ site.workshop_site }}/assets/NewLibraryLogo-2767.png">
  </a>
  <a href="https://research-it.ucsd.edu/" title="UCSD Research IT Services">
    <img style="float: left;border:0;" alt="UCSD Research IT Services" src="{{ site.workshop_site }}/assets/RITS-image2.png">
  </a>
</div>

<!-- make sure to update the _config.yml file with the current workshop repo or site.workshop_site-->